body {
  background-color: black;
  text-align: center;
}
#canvas {
  margin: 0 auto;
  display: block;
  border: 1px solid #c19212b7;
  background-color: #34b4de;
}

@media only screen and (max-width: 600px) {
  #canvas {
    width: 100%;
    background-color: #34b4de;
  }
}
